//- PETS CARD---------------------------------------
mixin pets-card(name, img, type, text, href)
  .pets-slider__slide.pets-card
    a.pets-slider__link(href=`${href}`)
      .pets-card__top
        p.pets-title.pets-card__name  #{name}
        figure.pets-card__img-wrapper
          img.pets-card__img(src=`${imgUrl}/images/meet/${img}` alt=`${img.slice(0, img.length - 4)}`)
      .pets-card__bottom
        p.pets-title.pets-card__type #{type}
        p.text.pets-card__text #{text}
        a.btn.btn--outline-orange.pets-card__btn(href=`${href}`) VIEW LIVE CAM


//- PAY CARD---------------------------------------
mixin pay-feed(num, img, icon, title, text, mobileText)
  .pay-feed__inner
    .pay-feed__inner-top
      p.pets-title.pay-feed__num #{num}
      .pay-feed__line
    .pay-feed__inner-bottom
      figure.pay-feed__img-wrapper
        img.pay-feed__img(src=`${imgUrl}/images/pay/${img}` alt=`${img.slice(0, img.length - 4)}`)
      .pay-feed__inner-text
        figure
          img.pay-feed__icon(src=`${imgUrl}/icons/pay/${icon}` alt=`${icon.slice(0, icon.length - 4)}`)
        p.pets-title.pay-feed__pets-title #{title}
        p.text.pay-feed__text.desktop #{text}
        p.text.pay-feed__text.mobile #{mobileText}
        if num == '03'
          a.pay-feed__btn-wrapper(href="#")
            button.btn.pay-feed__btn.popup-btn-care donate now


//- THINK CARD---------------------------------------
mixin think-card(title, text, name)
  .think-slider__slide.think-slide
    .think-slide__quotes
      img(src=`${imgUrl}/icons/think/quotes.svg`, alt="quotes")
    p.pets-title.think-slide__title #{title}
    p.text.think-slide__text #{text}
    p.think-slide__name #{name}


//- CARE CARD---------------------------------------
mixin care-card(img, text, href)
  .pets-card.care-card
    a.care-card__link(href=`${href}`)
      .pets-card__top.care-card__top
        figure.pets-card__img-wrapper.care-card__img-wrapper
          img.pets-card__img.care-card__img(src=`${imgUrl}/images/care/${img}` alt=`${img.slice(0, img.length - 4)}`)
      .pets-card__bottom.care-card__bottom
        p.text.pets-card__text.care-card__text #{text}
        a.btn.btn--outline-orange.pets-card__btn.care-card__btn(href=`${href}`) Feed
